/* Basic Typography */
body {
	background-color: #d9dde8;
	font-family: Ubuntu,sans-serif;
}

.navbar{ background-color: #22baa0;}
.topmenu-outer{ background-color: #22baa0;}
.small-sidebar .navbar .logo-box{ width: 121px;}
.navbar .logo-box a{ background: url(../images/logo.png) 50% 50% no-repeat; width: 121px; text-indent: -9999px;}
.top-menu .navbar-nav > li > a{ color: #FFF;}
.top-menu .nav .open > a, .top-menu .nav .open > a:focus, .top-menu .nav .open > a:hover{ color: #ebebeb;}
/* Link Lists */
.filter-link-list a { display: inline-block; margin:0 3px; line-height: 2.0;}

/*--- project page style start from here ---*/
/* - sticky project tab menu - */
#stickypnav-outer{ height: 92px;}
#stickypnav-outer .stickypnav{ background-color: #FFF; border-bottom: 1px solid #FFF; position: relative;}
#stickypnav-outer .stickypnav.sticky{ position: fixed; left: 0; right: 0; top: 0; border-bottom-color: #ddd; padding: 10px 35px 5px;}
#stickypnav-outer .stickypnav.highz{ z-index: 9999;}

/* - button style checkbox radio - */
.cuschk-group{}
.cuschk-group .parent_checkbox{ background-color: #12afcb; color: #fff; display: inline-block; cursor: pointer; padding: 6px 12px;}
.cuschk-group .parent_checkbox.cus_active{ background-color: #7a6fbe;}
.cuschk-group .parent_checkbox .cus_che{ display: none;}

/* - create project form wizard button - */
.tab-content.prelative{ position: relative;}
#ppager-outer{ height: 61px;}
#ppager{ margin: 0 -36px; padding: 15px 35px; border-left: 1px solid #e9e9e9; border-right: 1px solid #e9e9e9; background-color: #FFF;}
#ppager.sticky{ position: fixed; bottom: 0; left: 15px; right: 15px; border-top: 1px solid #e9e9e9; padding: 10px 35px;}

.panel-body.apt-cimg{ text-align: center; padding: 0 !important;}
.panel-body.apt-gimg{ padding: 0 !important;}

.tab-content .tab-content{ border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd;}